.users td:nth-child(1) {
  width: 4%;
  text-indent: 10px;
}

.users td:nth-child(2) {
  width: 48%;
}

.users tr:nth-child(odd) {
  background-color: #f2f9ff;
}

.users tr:nth-child(1) {
   color: #fff;
   background-color: #004080;
}

